/* VARIABLES */
:root {
  --background-1: rgba(230, 243, 246, 0.95);
  --background-2: rgba(197, 228, 236, 0.95);
  --message-bg-user: rgba(197, 228, 236, 0.95);
  --background-gradient-top: rgba(226, 244, 248, 0.95);
  --background-gradient-bottom: rgba(215, 243, 247, 0.9);

  --button-background-1: rgba(165, 209, 220, 0.95);
  --message-bg-contact: rgba(94, 146, 209, 0.5);
  --button-background-3: rgba(165, 209, 220, 0.95);
  --interest-button-background-1: rgba(94, 146, 209, 0.5);
  --interest-button-background-2: rgba(252, 252, 252, 0.636);

  --card-background-1: rgb(46, 92, 190);

  --header-height: 11vh;

  --font-main: Arial, sans-serif;
  --font-color-1: rgb(240, 240, 240);
  --font-color-2: rgba(113, 217, 184, 0.628);
  --font-color-3: rgb(65, 201, 176);
  --font-color-4: rgba(94, 146, 209, 0.6);
  --font-color-5: rgba(39, 65, 96, 0.9);
  --font-color-hover: rgb(113, 217, 184);
  --font-color-active: rgb(62, 109, 212);
}

.chat {
  flex: 2;
  color: var(--font-color-5);
  background-color: var(--background-1);
  border-left: 1px solid var(--background-2);
  border-right: 1px solid var(--background-2);
  border-radius: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;

  .top {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--background-2);

    .user {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
      }

      .texts {
        display: flex;
        flex-direction: column;
        gap: 5px;

        span {
          font-size: 18px;
          font-weight: bold;
        }

        p {
          font-size: 14px;
          font-weight: 300;
          color: var(--font-color-5);
        }
      }
    }

    .icons {
      display: flex;
      gap: 20px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  .center {
    padding: 20px;
    flex: 1;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .message {
      max-width: 70%;
      display: flex;
      gap: 20px;

      &.own {
        align-self: flex-end;

        .texts {
          p {
            background-color: var(--message-bg-user);
          }
        }
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
      .texts {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 5px;

        img {
          width: 100%;
          height: 300px;
          border-radius: 10px;
          object-fit: cover;
        }

        p {
          padding: 20px;
          background-color: var(--message-bg-contact);
          border-radius: 10px;
        }

        span {
          font-size: 13px;
        }
      }
    }
  }

  .bottom {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 0.7px solid var(--background-2);
    gap: 20px;
    margin-top: auto;

    .icons {
      display: flex;
      gap: 20px;
    }

    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    input {
      flex: 1;
      background-color: var(--background-2);
      border: none;
      outline: none;
      padding: 20px;
      border-radius: 10px;
      font-size: 15px;

      &:disabled {
        cursor: not-allowed;
      }
    }

    .emoji {
      position: relative;

      .picker {
        position: absolute;
        bottom: 50px;
        left: 0;
      }
    }

    .sendButton {
      background-color: var(--card-background-1);
      color: var(--font-color-1);
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:disabled {
        background-color: var(--card-background-1);
        cursor: not-allowed;
      }
    }
    .sendButton:hover {
      background: linear-gradient(45deg, #ff00ff, #00ffff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
