/* VARIABLES */
:root {
  --background-1: rgba(230, 243, 246, 0.95);
  --background-2: rgba(197, 228, 236, 0.95);
  --background-: rgba(197, 228, 236, 0.95);
  --background-gradient-top: rgba(227, 246, 250, 0.95);
  --background-gradient-bottom: rgba(215, 243, 247, 0.9);

  --button-background-1: rgba(165, 209, 220, 0.95);
  --button-background-2: rgba(94, 146, 209, 0.487);
  --button-background-3: rgba(165, 209, 220, 0.95);

  --card-background-1: rgb(46, 92, 190);

  --header-height: 11vh;

  --font-main: Arial, sans-serif;
  --font-color-1: rgb(240, 240, 240);
  --font-color-2: rgba(113, 217, 184, 0.628);
  --font-color-3: rgb(65, 201, 176);
  --font-color-4: rgb(65, 201, 176);
  --font-color-hover: rgb(113, 217, 184);
  --font-color-active: rgb(71, 80, 201);
}

/* GLOBAL PROPERTIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

h2 {
  font-size: 1.5rem;
}

.icon-button {
  background-color: var(--button-background-2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: none;
}

.icon-button img {
  margin-right: 8px;
  width: 5px;
  height: 5px;
}

/* HEADER STYLING */

header {
  /* background-color: var(--background-2); */
  background: linear-gradient(
    to bottom,
    var(--background-gradient-bottom),
    var(--background-gradient-top)
  );
  padding: 1px;
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: var(--header-height);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

header #connect {
  color: var(--font-color-3);
  padding: 0;
  position: fixed;
  top: 20px;
  left: 60px;
  z-index: 999;
}

header #logo-link {
  position: relative;
  background-image: url("/src/images/globe-icon-active.svg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 60px;
}

header #logo-link:hover {
  width: 61px;
}
header #logo-link a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  font-size: 0.8rem;
}

header #logo-link a.active {
  color: white;
  position: relative;
  background-image: url("/src/images/globe-icon-active.svg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 60px;
}

header a {
  text-decoration: none;
  color: var(--font-color-2);
  font-weight: 600;
  font-size: 1rem;
}
header a:hover {
  color: var(--font-color-hover);
  font-size: 1.02rem;
}

header ul li a.active {
  color: var(--font-color-active);
  font-size: 1.1rem;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

header li {
  padding: 2%;
}

header #logout-button {
  background-color: var(--button-background-1);
  border: none;
}
header #logout-button:hover {
  background-color: var(--button-background-2);
  border: none;
}

header li:first-child {
  margin-left: auto;
  padding-right: 3vw;
}

header li:last-child {
  margin-left: auto;
}

/* GENERAL BODY STYLING */

#background {
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/src/images/global-background.png");
  filter: blur(2px);
  opacity: 80%;
  filter: brightness(105%);
  background-size: cover;
  background-position: center;
}

.main-section {
  position: relative;
  z-index: 100;
  background: linear-gradient(
    to bottom,
    var(--background-gradient-top),
    var(--background-gradient-bottom)
  );
  width: 60vw;
  height: 89vh;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  border-radius: 8px;
  transform: translateY(calc(var(--header-height)));
  display: flex;
}

/* PROFILE PAGE STYLING */

.main-section#profile-main-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-about-me {
  display: flex;
  flex-direction: column;
  max-width: 60vw;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5vh 2vw 5vh 2vw;
}

#profile-top-div {
  display: flex;
  flex-direction: row;
}

#profile-top-text {
  flex-direction: column;
  padding: 3vw;
}

#profile-picture {
  max-height: 300px;
}

#interest-options {
  display: flex;
  flex-wrap: wrap;
}
#interest-options button {
  font-size: 0.8rem;
}

#user-interests {
  display: flex;
  flex-wrap: wrap;
}

#interest-checkbox button {
  font-size: 0.8rem;
}

div #quick-edit {
  background-color: var(--background-2);
  color:var();
  min-height: 1rem;
  min-width: 10vw;
  padding: 1vh 15vh 1vh 1vh;

}

/* FEED PAGE STYLING */

.main-section#feed-main-section {
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#feed-carousel {
  display: flex;
  justify-content: center;
  width: 50vw;
}

div #feed-profile-card {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex: 3;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

#feed-carousel #big-button {
  color: var(--font-color-1);
  border: none;
  background-color: var(--button-background-3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
}
#feed-carousel #big-button:hover {
  background-color: var(--button-background-2);
}

#feed-carousel #connect-button {
  color: var(--font-color-1);
  border: none;
  padding: 0.5rem 2rem 0.2rem 2rem;
  background-color: var(--button-background-3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#feed-carousel #connect-button:hover {
  background-color: var(--button-background-2);
}

#feed-profile-card {
  color: var(--font-color-4);
  background-color: var(--background-3);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

#feed-profile-card img {
  width: 200px;
  border-radius: 50px;

  overflow: hidden;
}

/* MATCHES PAGE STYLING */
/* 

.contacts-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.chat-container {
  display: flex;
  flex: 3;
  flex-direction: column;
}

/* Match card */
.match-card {
  display: flex;
  flex: 1;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: var(--card-background-1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: left;
  justify-content: space-between;
}

.match-card img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  align-self: center;
}

.match-card h2 {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--font-color-1);
}

.match-card p {
  margin: 0;
  color: var(--font-color-1);
  align-self: center;
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #dddddd35;
}

#pending-match-card {
  background-color: goldenrod;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Adjust as needed */
  height: 30px; /* Adjust as needed */
  padding: 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  opacity: 0.5;
}
.icon-button#accept {
  background-color: #95d8a8;
}
.icon-button#decline {
  background-color: #b61818;
}
.icon-button:hover {
  opacity: 1;
}

.icon-button img {
  margin-left: 20px;
  width: 30px;
  height: 30px;
}
