/* VARIABLES */
:root {
  --background-1: rgba(242, 242, 242, 0.94);
  --background-2: rgba(242, 242, 242, 0.95);
  --button-background-1: rgb(154, 181, 229);

  --header-height: 11vh;

  --font-main: Arial, sans-serif;
}

/* GLOBAL PROPERTIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

/* HEADER STYLING */

header {
  background-color: var(--background-2);
  padding: 1px;
  position: fixed;
  z-index: 1000;
  width: 100vw;
  height: var(--header-height);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

header #logo-link {
  position: relative;
  background-image: url("/src/images/globe-icon.svg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 60px;
}
header #logo-link a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

header a {
  text-decoration: none;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

header li {
  padding: 2%;
}

header li:first-child {
  margin-left: auto;
  padding-right: 3vw;
}

header li:last-child {
  margin-left: auto;
}

/* GENERAL BODY STYLING */

#background {
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/src/images/global-background.png");
  background-size: cover;
  background-position: center;
}

.main-section {
  position: relative;
  z-index: 100;
  background: var(--background-1);
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  transform: translateY(calc(var(--header-height)));
}

/* PROFILE PAGE STYLING */

.main-section#profile-main-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-about-me {
  display: flex;
  flex-direction: column;
  max-width: 60vw;
  align-items: flex-start;
  align-content: flex-start;
  padding: 5vh 2vw 5vh 2vw;
}

#profile-top-div {
  display: flex;
  flex-direction: row;
}

#profile-top-text {
  flex-direction: column;
  padding: 3vw;
}

#profile-picture {
  max-height: 300px;
}

#interest-options {
  display: flex;
  flex-wrap: wrap;
}
#interest-options button {
  font-size: 0.8rem;
}

#user-interests {
  display: flex;
  flex-wrap: wrap;
}

#interest-checkbox button {
  font-size: 0.8rem;
}

div #quick-edit {
  min-height: 1rem;
}

/* FEED PAGE STYLING */

.main-section#feed-main-section {
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#feed-carousel {
  display: flex;
  justify-content: center;
  width: 50vw;
}

div #feed-profile-card {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex: 3;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

#feed-carousel #big-button {
  border: none;
  background-color: var(--button-background-1);
  flex: 1;
}

#feed-carousel #connect-button {
  border: none;
  background-color: var(--button-background-1);
}

#feed-profile-card img {
  width: 200px;
  overflow: hidden;
}

/* MATCHES PAGE STYLING */

.purple-container {
  width: auto;
  height: 85vh;
  background-color: rgba(17, 25, 40, 0.75);
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(19px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.match-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Match card */
.match-card {
  display: flex;
  align-items: left;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: #2e5cbe;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: left;
  width: 35%; /*makes card cover half width of parent container*/
}

.match-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  align-self: right;
}

.match-card h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.match-card p {
  margin: 0;
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #dddddd35;
}

#pending-match-card {
  background-color: goldenrod;
}
