* {
  margin: 0;
  padding: 0;
}

div {
  border: 1px solid black;
  margin: 2px;
  padding: 2px;
}

div #profile-card {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex: 3;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

div #feed-card {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  width: 50vw;
}

#big-button {
  flex: 1;
}

header {
  border: 1px solid black;
  margin: 2px;
  padding: 2px;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

header li {
  padding: 2%;
}

header li:first-child {
  margin-left: auto;
}

header li:last-child {
  margin-left: auto;
}

#profile-picture {
  width: 140px;
}

input {
}

div #quick-edit {
  min-height: 1rem;
}
